<!DOCTYPE html>
<html>
<body>
<p>Do you want ANY money to be spent on equipment (balls or a team bat)?
<form method="POST" action="/whichequipment">
  <select name="yesno">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select> <br /><br />
  <input type="submit" value="Submit">
</form>

</body>
</html>
