<!DOCTYPE html>
<html>
<body> <br />
<form method="POST" action="/whichequipment">
  Yale e-mail: <input type="text" name="email"><br /><br />
  Do you want ANY money to be spent on equipment (balls or a team bat)?<br />
  <select name="yesno">
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select> <br /><br />
  <input type="submit" value="Submit">
</form>

</body>
</html>
