<!DOCTYPE html>
<html>
<body>
<p>Figure we've got $130 per person to spend.
  If your remaining ${{left}} were the whole team's money, how would you allocate it?</p><br />
<form method="POST" action="/thanks">
  <form>
    I would want <input type="number" min="0" max="100" name="gear">% of it to go to an
    Under Armour gear order and the rest to be returned to me.<br /><br />
    <input type="submit" value="Submit">
  </form>
</form>

</body>
</html>
