<!DOCTYPE html>
<html>
<body>
<p>Which equipment do you want us to spend money on?</p>
<form method="POST" action="/percentages">
  <select name="which">
    <option value="balls">Bucket of balls (figure $4 per person)</option>
    <option value="bat">Team bat (figure $13 per person)</option>
    <option value="both">Both (figure $17 per person)</option>
    <option value="none">On second thought, none</option>
  </select> <br /><br />
  <input type="submit" value="Submit">
</form>

</body>
</html>
